@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  &:focus {
    border-color: $grey-color !important;
    box-shadow: 0 0 8px $red-orange-color !important;
  }
}
body {
  background-color: $black-color !important;
  font-family: "Roboto", sans-serif;
}

// inputs colors
.form-select {
  background: $black-color !important;
  color: $red-orange-color !important;
  box-shadow: 0 0 1px 2px white !important;
}
label {
  color: white !important;
}

table {
  box-shadow: 0 0 5px 2px white !important;
}
