@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $light-green-color !important;
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  border: none;
  border-radius: 12px;
  background-color: $yellow-green-color;
  padding: 3px 10px;
  transition: 0.3s ease-in-out;
  min-width: 150px;
  &:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
}
