.page-link {
  background: $black-color !important;
  border-color: $grey-color !important;
  color: $grey-color !important;
  &:hover {
    cursor: pointer;
  }
}

.active {
  color: $red-orange-color !important;
}
